<app-dialog [headerText]="headerText">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex">
      <app-user-autocomplete
        class="me-2"
        label="User"
        [inputFormControl]="form | formGet : 'userId'"
        [usersToOmit]="usersToOmit"
      ></app-user-autocomplete>
      <app-select
        class="me-1 flex-grow-1"
        label="Role"
        optionValueKey="id"
        optionDisplayKey="name"
        [options]="groupRoleOptions()"
        [inputFormControl]="form | formGet : 'groupRoleId'"
      ></app-select>
      <app-button
        data-testid="role-preview"
        matButtonType="iconButton"
        icon="visibility"
        color="accent"
        tooltip="Preview role"
        [disabled]="!selectedRole()"
        (clicked)="previewRole()"
      ></app-button>
    </div>
    <app-dialog-footer (cancelClicked)="closeModal()"></app-dialog-footer>
  </form>
</app-dialog>
