@use "sass:map";
@use "../../variables.scss" as variables;

.table-header__subtitle {
  color: map.get(variables.$accent-palette, 500);
  font-size: 14px;
  margin: variables.$spacing-xs 0 0;
  max-width: 640px;
}
