<app-dialog *ngIf="inDialog()" [headerText]="headerText">
  <ng-template [ngTemplateOutlet]="formTemplate"></ng-template>
</app-dialog>
<ng-container *ngIf="!inDialog()">
  <div [ngTemplateOutlet]="formTemplate"></div>
</ng-container>

<ng-template #formTemplate>
  <ng-container *ngIf="isOpen(); else preview">
    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Date',
        fieldName: 'date',
        type: 'date'
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Name',
        fieldName: 'name',
        type: 'text'
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Paid by',
        fieldName: 'paidBy',
        type: 'users',
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Amount',
        fieldName: 'amount',
        type: 'number',
        isCurrency: true,
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Categories',
        fieldName: 'categories',
        type: 'list',
        options: categories,
        optionFilterKey: 'name',
        optionDisplayKey: 'name',
        optionValueKey: 'id',
        multiple: true
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Tags',
        fieldName: 'tags',
        type: 'list',
        options: tags,
        optionFilterKey: 'name',
        optionDisplayKey: 'name',
        optionValueKey: 'id',
        multiple: true
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Status',
        fieldName: 'status',
        type: 'list',
        options: receiptStatusOptions,
        optionFilterKey: 'value',
        optionValueKey: 'value',
        optionDisplayKey: 'displayValue',
        multiple: true
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Resolved Date',
        fieldName: 'resolvedDate',
        type: 'date'
      }"
    ></ng-template>

    <ng-template
      [ngTemplateOutlet]="filterField"
      [ngTemplateOutletContext]="{
        label: 'Added At',
        fieldName: 'createdAt',
        type: 'date'
      }"
    ></ng-template>

    @if (customFields.length > 0) {
      @for (cfControl of getCustomFieldsArray().controls; track cfControl; let i = $index) {
        <ng-template
          [ngTemplateOutlet]="customFieldFilterRow"
          [ngTemplateOutletContext]="{ index: i }"
        ></ng-template>
      }

      @if (getCustomFieldsArray().length < customFields.length) {
        <div class="d-flex justify-content-start mt-2 mb-2">
          <app-button
            matButtonType="basic"
            icon="add"
            label="Add Custom Field Filter"
            (clicked)="addCustomFieldFilter()"
          ></app-button>
        </div>
      }
    }

    <ng-template
      [ngTemplateOutlet]="footerTemplate() ?? defaultFooter"
    ></ng-template>
  </ng-container>
</ng-template>

<ng-template #preview>
  <ng-template
    *ngIf="previewTemplate"
    [ngTemplateOutlet]="previewTemplate"
    [ngTemplateOutletContext]="previewTemplateContext()"
  ></ng-template>
</ng-template>

<ng-template #defaultFooter>
  <app-dialog-footer
    submitButtonTooltip="Apply filter"
    [additionalButtonsTemplate]="resetButton"
    (submitClicked)="submitButtonClicked()"
    (cancelClicked)="cancelButtonClicked()"
  ></app-dialog-footer>
</ng-template>

<ng-template
  #filterField
  let-label="label"
  let-fieldName="fieldName"
  let-type="type"
  let-isCurrency="isCurrency"
  let-options="options"
  let-optionFilterKey="optionFilterKey"
  let-multiple="multiple"
  let-optionDisplayKey="optionDisplayKey"
  let-optionValueKey="optionValueKey"
>
  <div class="d-flex">
    @if ((parentForm | formGet : basePath + fieldName + '.operation').value === FilterOperation.Between) {
      <div class="d-flex w-100">
        <div class="d-flex w-50 align-items-center">
          <div class="w-50">
            <app-input
              *ngIf="type === 'text' || type === 'number' || type === 'currency'"
              [label]="'Start ' + label"
              [isCurrency]="isCurrency"
              [inputFormControl]="parentForm | formGet : basePath +  fieldName + '.value.0'"
              [additionalErrorMessages]="{
              'invalidValue': 'Start ' + label + ' is invalid.'
              }"
            ></app-input>
            <app-datepicker
              *ngIf="type === 'date'"
              [label]="'Start ' + label"
              [inputFormControl]="parentForm | formGet : basePath + fieldName + '.value.0'"
              [additionalErrorMessages]="{
              'invalidValue': 'Start ' + label + ' is invalid.'
              }"
            >
            </app-datepicker>
          </div>
          <span class="between-separator">
            and
          </span>
          <div class="w-50">
            <app-input
              *ngIf="type === 'text' || type === 'number' || type === 'currency'"
              [label]="'End ' + label"
              [isCurrency]="isCurrency"
              [inputFormControl]="parentForm | formGet : basePath +  fieldName + '.value.1'"
            ></app-input>
            <app-datepicker
              *ngIf="type === 'date'"
              [label]="'End ' + label"
              [inputFormControl]="parentForm | formGet : basePath + fieldName + '.value.1'"
            >
            </app-datepicker>
          </div>
        </div>

        <div class="ms-2 w-50">
          <app-select
            label="Operation"
            [inputFormControl]="parentForm | formGet : basePath + fieldName + '.operation'"
            [options]="type | operations: false"
            [optionsDisplayArray]="type | operations: true"
            [addEmptyOption]="true"
          ></app-select>
        </div>
      </div>
    } @else if ((parentForm | formGet : basePath + fieldName + '.operation').value === FilterOperation.WithinCurrentMonth) {
      <div class="d-flex w-100">
        <div class="d-flex w-50 align-items-center">
          <div class="w-50">
            <app-datepicker
              *ngIf="type === 'date'"
              [label]="'Start ' + label"
              [inputFormControl]="startOfMonthFormControl"
            >
            </app-datepicker>
          </div>
          <span class="between-separator">
            and
          </span>
          <div class="w-50">
            <app-datepicker
              *ngIf="type === 'date'"
              [label]="'End ' + label"
              [inputFormControl]="endOfTodayFormControl"
            >
            </app-datepicker>
          </div>
        </div>

        <div class="ms-2 w-50">
          <app-select
            label="Operation"
            [inputFormControl]="parentForm | formGet : basePath + fieldName + '.operation'"
            [options]="type | operations: false"
            [optionsDisplayArray]="type | operations: true"
            [addEmptyOption]="true"
          ></app-select>
        </div>
      </div>
    } @else {
      <app-input
        *ngIf="type === 'text' || type === 'number' || type === 'currency'"
        class="w-50"
        [label]="label"
        [isCurrency]="isCurrency"
        [inputFormControl]="parentForm | formGet : basePath +  fieldName + '.value'"
      ></app-input>
      <app-user-autocomplete
        *ngIf="type === 'users'"
        class="w-50"
        optionValueKey="id"
        [label]="label"
        [multiple]="true"
        [inputFormControl]="parentForm | formGet : basePath + fieldName + '.value'"
      ></app-user-autocomplete>
      <app-datepicker
        *ngIf="type === 'date'"
        class="w-50"
        [label]="label"
        [inputFormControl]="parentForm | formGet : basePath + fieldName + '.value'"
      >
      </app-datepicker>
      <app-autocomlete
        *ngIf="type === 'list'"
        class="w-50"
        [multiple]="multiple"
        [label]="label"
        [inputFormControl]="parentForm | formGet : basePath + fieldName + '.value'"
        [options]="options"
        [optionValueKey]="optionValueKey"
        [optionFilterKey]="optionFilterKey"
        [optionDisplayKey]="optionDisplayKey"
      >
      </app-autocomlete>
      <app-select
        class="ms-2 w-50"
        label="Operation"
        [inputFormControl]="parentForm | formGet : basePath + fieldName + '.operation'"
        [options]="type | operations: false"
        [optionsDisplayArray]="type | operations: true"
        [addEmptyOption]="true"
      ></app-select>
    }
  </div>
</ng-template>

<ng-template #customFieldFilterRow let-index="index">
  <div class="d-flex align-items-start">
    <app-select
      class="w-25 me-2"
      label="Custom Field"
      [inputFormControl]="parentForm | formGet : basePath + 'customFields.' + index + '.customFieldId'"
      [options]="getAvailableCustomFields(index)"
      optionValueKey="id"
      optionDisplayKey="name"
      [addEmptyOption]="true"
    ></app-select>

    @if (getSelectedCustomField(index); as selectedField) {
      @switch (getFilterType(selectedField)) {
        @case ('boolean') {
          <app-select
            class="w-25"
            [label]="selectedField.name"
            [inputFormControl]="parentForm | formGet : basePath + 'customFields.' + index + '.value'"
            [options]="booleanOptions"
            optionValueKey="value"
            optionDisplayKey="displayValue"
            [addEmptyOption]="true"
          ></app-select>
          <app-select
            class="ms-2 w-25"
            label="Operation"
            [inputFormControl]="parentForm | formGet : basePath + 'customFields.' + index + '.operation'"
            [options]="getFilterType(selectedField) | operations: false"
            [optionsDisplayArray]="getFilterType(selectedField) | operations: true"
            [addEmptyOption]="true"
          ></app-select>
        }
        @default {
          <ng-template
            [ngTemplateOutlet]="filterField"
            [ngTemplateOutletContext]="{
              label: selectedField.name,
              fieldName: 'customFields.' + index,
              type: getFilterType(selectedField),
              isCurrency: getFilterType(selectedField) === 'currency',
              options: selectedField.type === 'SELECT' ? selectedField.options : undefined,
              optionFilterKey: 'value',
              optionDisplayKey: 'value',
              optionValueKey: 'id',
              multiple: selectedField.type === 'SELECT'
            }"
          ></ng-template>
        }
      }
    }

    <app-button
      class="ms-2 mt-1"
      matButtonType="iconButton"
      icon="close"
      color="warn"
      tooltip="Remove filter"
      (clicked)="removeCustomFieldFilter(index)"
    ></app-button>
  </div>
</ng-template>

<ng-template #resetButton>
  <app-button
    matButtonType="iconButton"
    icon="restart_alt"
    color="accent"
    tooltip="Reset filter"
    (clicked)="resetFilter()"
  ></app-button>
</ng-template>
