<div class="p-4">
  <h2 class="header-text">
    {{ user ? "Edit " + user.displayName : "Create User" }}
  </h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <app-form-section headerText="User Details">
      <app-input
        label="Username"
        [inputFormControl]="form | formGet : 'username'"
      ></app-input>
      <app-input
        label="Displayname"
        [inputFormControl]="form | formGet : 'displayName'"
      ></app-input>
      <app-input
        *ngIf="!user"
        label="Password"
        type="password"
        [inputFormControl]="form | formGet : 'password'"
        [showGeneratePassword]="true"
        [showVisibilityEye]="true"
      ></app-input>
      <div class="d-flex align-items-center">
        <app-select
          class="flex-grow-1"
          label="App Role"
          optionValueKey="id"
          optionDisplayKey="name"
          [inputFormControl]="form | formGet : 'appRoleId'"
          [options]="appRoleOptions()"
        ></app-select>
        <app-button
          class="ms-1"
          data-testid="role-preview"
          matButtonType="iconButton"
          icon="visibility"
          color="accent"
          tooltip="Preview role"
          [disabled]="!selectedRole()"
          (clicked)="previewRole()"
        ></app-button>
      </div>
      <app-checkbox
        label="Is Dummy User?"
        [helpText]="isDummerUserHelpText"
        [inputFormControl]="form | formGet : 'isDummyUser'"
      ></app-checkbox>
    </app-form-section>
    <div class="d-flex justify-content-end align-items-center">
      <app-submit-button></app-submit-button>
      <app-cancel-button (clicked)="closeModal()"></app-cancel-button>
    </div>
  </form>
</div>
